.top_div{
  background: #008ead;
  width: 100%;
  height: 400px;
}
.login{
  width: 400px;
  height: 325px;
  margin: auto auto;
  background: #ffffff;
  text-align: center;
  margin-top: -100px;
  border: 1px solid #e7e7e7;
  position: relative;
  .login-form {
    max-width: 300px;
    margin: 100px auto;
  }
  .login-form-button {
    width: 100%;
  }
}
.tou_pic{
  width: 97px;
  height: 118px;
  position: absolute;
  left: 141px;
  top: -87px;
}
.wrap3{
  width: 97px;
  height: 118px;
  position: relative;
}
.tou{
  height: 100px;
  background: url(../../img/download.png) no-repeat;
}
.left{
  height: 30px;
  width: 40px;
  position: absolute;
  left: -22px;;
  top: 83px;
  background: url(../../img/hand.png) no-repeat;
}
.right{
  height: 30px;
  width: 40px;
  left: 92px;
  top: 83px;
  position: absolute;
  background: url(../../img/hand.png) no-repeat;
}