.wrap2{
  width: 100%;
  height: 600px;
  position: relative;
  background: url(../../img/bck1.jpg) no-repeat;
}
.div1{
  position: absolute;
  left: 9px;
  top: 82px;
  color: white;
  width: 50px;
  height: 420px;
  font-size: 27px;
  text-shadow: 5px 5px 5px black, 0px 0px 2px black; 
}