.wrap1{
  width: 910px;
  height: 900px;
  position: relative;
}
.login-form {
  margin-left: 195px;
  margin-top: 20px;
}
.btn{
  margin-left: 150px;
}
.TextArea {
  width: 359px;
  max-height:180px;
  min-height: 180px;
}
.ant-form-item-control{
  width: 359px;
  .ant-form-item-children{
    display: block;
    width: 359px;
    .ant-calendar-picker{
      display: block;
      width: 359px;
      div{
        width: 359px;
        position: relative;
        i{
          position: absolute;
          right: 12px;
          top: 16px;
        }
      }
    }
  }
}
.ant-calendar-picker-input{
  width: 359px;
  i{
    float: right;
  }
}