.r-header {
  position: fixed;
  z-index: 9999;
  width: 100%;
  display: flex;
  justify-content: space-between;
  
}
.btn-login{
  width: 122px;
  color: white;
}
.tc{
  margin-left: 10px;
}
.logo {
  color: #fff;
  font-size: 24px;
}