.wrap{
  width: 600px;
  height: 400px;
  margin-left: 286px;
  position: relative;
}
.img{
  width: 102px;
  height: 132px;
  position: absolute;
  left: -130px;
  top: 50px;
  border: 1px solid rgb(8, 8, 8);
}
.btn{
  margin-top: 15px;
}