.wrap1{
  width: 910px;
  height: 900px;
  position: relative;
}
.Avatar {
  position: absolute;
  top: -16px;
  left: 120px;
}
.login-form {
  margin-left: 190px;
  margin-top: 20px;
}
.TextArea {
  width: 387px;
  max-height:180px;
  min-height: 180px;
}
.btn{
  margin-left: 200px;
}
.sp{
  font-size: 13px;
  display: block;
  width: 128px;
  text-align: center;
}
.avatar-uploader > .ant-upload {
  width: 128px;
  height: 128px;
}
img{
  width: 128px;
  height: 128px;
}
.ant-form-explain{
  width: 128px;
  text-align: center;
}
